/*
Colors	Paper Source Colorscope: Beet, Slate
Fonts	Google Fonts: Bebas Neue, Roboto
Images	Unsplash: Credited
*/

html {
	background-color: rgb(89,88,77);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: justify;
	line-height: 2;
	color: rgb(89,88,77);
}

header {
	height: 200px;
	background-image: url(../images/sean-sinclair-k0JNJRbrJAs-unsplash.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-top: 32px;
	font-family: 'Bebas Neue', cursive;
	font-size: 400%;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(255,255,255);
}

@media screen and (max-width: 768px) {
	h1 {
		margin-top: 64px;
		font-size: 250%;
	}
}

.section {
	padding: 5px 20px;
}

.container {
	margin: 0 auto;
	overflow: hidden;
	max-width: 1024px;
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 18px;
	}

	.container {
		max-width: 1200px;
	}
}

.content-area {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: rgb(255,255,255);
}

a {
	text-decoration: none;
}

nav ul li {
	margin-bottom: 5px;
	margin-left: -20px;
	text-align: center;	
	text-transform: uppercase;
	list-style: none;
}

@media screen and (min-width: 768px) {
	nav ul li {
		margin-bottom: 10px;
		margin-left: 0;
		text-align: right;
	}
}

nav ul li a {
	text-decoration: none;
	color: rgb(89,88,77);
}

nav ul li a:hover {
	color: rgb(143,87,147);
}

ul li {
	list-style-type: square;
}

ul li a, p a {
	color: rgb(143,87,147);
}

.active {
	color: rgb(143,87,147);
}

h2 {
	margin-top: 10px;
	margin-bottom: -10px;
	text-transform: uppercase;
}

h3 {
	margin-top: 20px;
	margin-bottom: -10px;
	text-transform: uppercase;
}

.iframe-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iframe-bottom {
	margin-top: 20px;
}

.sub-nav {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.table-container {
	overflow-x: auto;
}

table {
	margin-top: 25px;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 12px;
	text-align: left;
}

table thead {
	background-color: rgb(89,88,77);
	color: rgb(255,255,255);
}

table th, table td {
	padding: 10px;
	vertical-align: top;
	border: 1px solid rgb(89,88,77);
}

footer {
	padding: 10px 0 20px 0;
	font-size: 90%;
	text-align: center;
	color: rgb(255,255,255);
}

.row {
	margin-right: -20px;
}

.col {
	padding-right: 20px;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}

	.col {
		padding-right: 40px;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}

.fix {
	clear: both;
}

.row:before, 
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}

/*
Device Breakpoints
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}
Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}
Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}
Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}
Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/